<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Configuración de los targets donde NLog enviará los logs -->
	<targets>
		<!-- Define un target de archivo para guardar los logs -->
		<target xsi:type="File" name="fileLogger"
				fileName="${basedir}/Logs/log-${shortdate}.txt"
				layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<!-- Reglas para determinar a dónde se dirigen los logs y su nivel mínimo -->
	<rules>
		<!-- Escribe logs de todos los niveles en fileLogger -->
		<logger name="*" minlevel="Info" writeTo="fileLogger" />
	</rules>
</nlog>
