/* src/app/components/empleado-list/empleado-list.component.css */
/* empleado-list.component.css */
.mat-elevation-z8 {
  margin: 20px;
  overflow: auto;
}

.mat-header-cell, .mat-cell {
  padding: 8px;
}

button {
  margin-right: 8px;
}
